
body{
    box-sizing: border-box;
    height: 100vh;
    
} 

h1{
    margin-left: 20px;
}
.container{
    width: 40%;
    min-width: 450px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 30px 40px;
}
#newtask{
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    border-radius: 5px;
    
}
#newtask input{
    width: 70%;
    height: 20px;
    font-size: 15px;
    border: 1px solid #d1d3d4;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
}

#newtask button{
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-weight: 500;
    background-color: black;
    color: #ffffff;
    border: 1px solid black;
}
#tasks{
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    width: 100%;
    position: relative;
}
.task{
    background-color: #ffffff;
    height: 50px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #d1d3d4;
}
.task span{
    
    font-size: 15px;
    font-weight: 400;
}
.task button{
    background-color: black;
    color: #ffffff;
    height: 100%;
    width: 100px;
    border-radius: 5px;
    border: 1px solid black;
}
